.activeMenu{
    display: block;
    background: white;
    border: 1px solid #e1e1e1;
    border-radius: 7px;
}
.openMenu{
    display: none;
}
.menuItem{
    cursor: pointer;
}
.menuItemButton{
    margin-right: 4px;
    margin-top: 4px;
    margin-left: 5px;
    cursor: pointer;
}